<div id="main-container" class="container">

  <!-- Two Column Banner Starts -->
  <div class="row">
    <!-- Banner #1 Starts -->
    <div class="col-sm-6 col-xs-12">
      <img src="../../../assets/images/banners/2col-banner-img1.jpg" alt="banners" class="img-responsive img-center col2-banners">
    </div>
    <!-- Banner #1 Ends -->
    <!-- Banner #2 Starts -->
    <div class="col-sm-6 col-xs-12">
      <img src="../../../assets/images/banners/2col-banner-img2.jpg" alt="banners" class="img-responsive img-center col2-banners">
    </div>
    <!-- Banner #2 Ends -->
  </div>
  <!-- Two Column Banner Ends -->
  <!-- Latest Products Starts -->
  <section class="product-carousel">
    <!-- Heading Starts -->
    <h2 class="product-head text-uppercase">Latest <strong>Products</strong></h2>
    <!-- Heading Ends -->
    <!-- Products Row Starts -->
    <div class="row">
      <div class="col-xs-12">
        <!-- Product Carousel Starts -->
        <div id="owl-latest-product" class="owl-product-carousel owl-carousel">
          <!-- Product #1 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/1.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #1 Ends -->
          <!-- Product #2 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/2.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #2 Ends -->
          <!-- Product #3 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/3.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #3 Ends -->
          <!-- Product #4 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/4.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #4 Ends -->
          <!-- Product #5 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/5.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #6 Ends -->
          <!-- Product #7 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/7.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #7 Ends -->
          <!-- Product #8 Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <img src="../../../assets/images/product-images/8.jpg" alt="product" class="img-responsive" />
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$199.50</span>
                  <span class="price-old">$249.50</span>
                </div>
                <p class="price-tax">ex tax: $570.00</p>
                <h4><a href="product.html">Quis Nostrud Exercitation </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Product #8 Ends -->
        </div>
        <!-- Product Carousel Ends -->
      </div>
    </div>
    <!-- Products Row Ends -->
  </section>
  <!-- Latest Products Ends -->

  <!-- Features & Popular Products Starts -->


</div>
