<header class="header-area">
  <!-- Header Top Starts -->
  <div class="header-top text-uppercase">
    <!-- Nested Container Starts -->
    <div class="container">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Currency & Languages Starts -->
        <div class="col-sm-3 col-xs-12">
          <div class="pull-left">

          </div>
        </div>
        <!-- Currency & Languages Ends -->
        <!-- Header Links Starts -->
        <div class="col-sm-6 col-xs-12">
          <ul class="list-unstyled list-inline header-links text-center">
            <li><a href="#">Iniciar sesión</a></li>
            <li><a href="#">Registrarse</a></li>
          </ul>
        </div>
        <!-- Header Links Ends -->
          <app-carro-compras> </app-carro-compras>
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </div>
  <!-- Header Top Ends -->
  <!-- Main Header Starts -->
  <div class="main-header">
    <!-- Nested Container Starts -->
    <div class="container">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Toll Free No Starts -->
        <div class="col-md-3 col-sm-4 col-xs-12 text-center" *ngIf="_infoWeb.cargada">
          <h5>{{_infoWeb.infoWeb.telefono}}</h5>
          <h6 class="text-uppercase">Lunes a Sabado de {{_infoWeb.infoWeb.horaInicio}} 
            a {{_infoWeb.infoWeb.horaFin}}</h6>
        </div>
        <!-- Toll Free No Ends -->
        <!-- Logo Starts -->
        <div class="col-md-6 col-sm-4 col-xs-12">
          <div id="logo">
            <a href="index.html"><img src="../../../assets/images/logo.png" title="Food Bingo" alt="Food Bingo" class="img-responsive img-center"></a>
          </div>
        </div>
        <!-- Logo Ends -->
        <!-- Search Starts -->
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div id="search">
            <div class="input-group">
              <input type="text" class="form-control input-lg text-uppercase" placeholder="Buscar">
              <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
            </div>
          </div>
        </div>
        <!-- Search Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </div>
  <!-- Main Header Ends -->
  <!-- Main Menu Starts -->
  <nav id="main-menu" class="navbar" role="navigation">
    <!-- Nested Container Starts -->
    <div class="container">
      <!-- Nav Header Starts -->
      <div class="navbar-header">
        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <!-- Nav Header Ends -->
      <!-- Navbar Cat collapse Starts -->
      <div class="collapse navbar-collapse navbar-cat-collapse">
        <ul class="nav navbar-nav">
          <li><a href="category-list.html">Nosotros</a></li>
          <li><a href="category-list.html">Menú</a></li>
          <li><a href="category-list.html">Promociones</a></li>
          <li><a href="category-list.html">Ubicación</a></li>
          <li><a href="category-list.html">Contacto</a></li>
        </ul>
      </div>
      <!-- Navbar Cat collapse Ends -->
    </div>
    <!-- Nested Container Starts -->
  </nav>
  <!-- Main Menu Ends -->
</header>
