<!-- Cart Starts -->
<div class="col-sm-3 col-xs-12">
  <div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle text-uppercase">
      <i class="fa fa-shopping-cart"></i>
      <strong>Carro de compras</strong>
      <span id="cart-total">{{ccService.getCantidadCarro()}} Items</span>
      <i class="fa fa-angle-down"></i>
    </button>

    <ul class="dropdown-menu pull-right">

      <li>
        <div class=".col-1 .col-sm-1" *ngIf="ccService.getSumaTotal() == 0">
          <div class="alert alert-danger" role="alert">No hay elementos en su Carrito.</div>
        </div>
        <table class="table hcart" *ngIf="ccService.getSumaTotal() != 0">

          <tr *ngFor="let prodAdded of productsAdded; let i = index">
            <td class="text-center">
              <a href="product.html">
                <img src="../../../assets/images/product-images/hcart-thumb1.jpg" alt="image" title="image" class="img-thumbnail img-responsive"
                />
                <!-- <img [src]="prodAdded.img" alt="image" title="image" class="img-thumbnail img-responsive" -->
              </a>
            </td>
            <td class="text-left">
              <a href="product-full.html">
                {{prodAdded.nombre}}
              </a>
            </td>
            <td class="text-right">x {{prodAdded.cantidad}}</td>
            <td class="text-right">$ {{prodAdded.precio | number:'3.0-0'}}</td>
            <td class="text-center">
              <a href="#" (click)="ccService.deleteCarrito(i,prodAdded)">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>

        </table>
      </li>
      <li *ngIf="ccService.getSumaTotal() != 0">
        <table class="table table-bordered total">
          <tbody>
            <tr>
              <td class="text-right">
                <strong>Total</strong>
              </td>
              <td class="text-left">$ {{ccService.getSumaTotal() | number:'3.0-0'}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-right btn-block1">
          <a href="cart.html">
            Ver carrito
          </a>
          <a href="#">
            Ordenar
          </a>
        </p>
      </li>
    </ul>
  </div>
</div>
<!-- Cart Ends -->