<footer id="footer-area">
  <!-- Footer Links Starts -->
  <div class="footer-links">
    <!-- Container Starts -->
    <div class="container">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Foot Col#1 Starts -->
        <div class="col-md-4 col-xs-12">
          <h5>Subscription</h5>
          <div class="foot-subscription-form">
            <div class="input-group">
              <input type="text" class="form-control text-uppercase" placeholder="Your Email Address">
              <span class="input-group-btn">
								<button class="btn text-uppercase" type="button">
									Subscribe
								</button>
							  </span>
            </div>
          </div>
          <h5>Stay Connected</h5>
          <ul class="list-unstyled list-inline foot-sm-links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <!-- Foot Col#1 Ends -->
        <!-- My Account Starts -->
        <div class="col-md-2 col-sm-4 col-xs-12">
          <h5>My Account</h5>
          <ul>
            <li><a href="#">My orders</a></li>
            <li><a href="#">My merchandise returns</a></li>
            <li><a href="#">My credit slips</a></li>
            <li><a href="#">My addresses</a></li>
            <li><a href="#">My personal info</a></li>
          </ul>
        </div>
        <!-- My Account Ends -->
        <!-- Customer Service Starts -->
        <div class="col-md-2 col-sm-4 col-xs-12">
          <h5>Customer Service</h5>
          <ul>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Specials</a></li>
          </ul>
        </div>
        <!-- Customer Service Ends -->
        <!-- Contact Us Starts -->
        <div class="col-md-4 col-sm-4 col-xs-12 last" *ngIf="_infoWeb.cargada">
          <h5>Contacto</h5>
          <ul>
            <li>{{_infoWeb.infoWeb.nombreApp}}</li>
            <li>
                {{_infoWeb.infoWeb.direccion}}
            </li>
            <li>
              Email: <a href="#">{{_infoWeb.infoWeb.mail}}</a>
            </li>
          </ul>
          <h4 class="lead">
            Tel: <span>{{_infoWeb.infoWeb.telefono}}</span>
          </h4>
        </div>
        <!-- Contact Us Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Container Ends -->
  </div>
  <!-- Footer Links Ends -->
  <!-- Copyright Area Starts -->
  <div class="copyright">
    <!-- Container Starts -->
    <div class="container">
      <!-- Starts -->
      <p class="pull-left">
        &copy; {{this.anio}} Food Bingo Stores. Designed By <a href="http://sainathchillapuram.com">Sainath Chillapuram</a>
      </p>
      <!-- Ends -->
      <!-- Payment Gateway Links Starts -->
      <ul class="pull-right list-inline">
        <li>
          <img src="../../../assets/images/payment-icon/cirrus.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="../../../assets/images/payment-icon/paypal.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="../../../assets/images/payment-icon/visa.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="../../../assets/images/payment-icon/mastercard.png" alt="PaymentGateway" />
        </li>
        <li>
          <img src="../../../assets/images/payment-icon/americanexpress.png" alt="PaymentGateway" />
        </li>
      </ul>
      <!-- Payment Gateway Links Ends -->
    </div>
    <!-- Container Ends -->
  </div>
  <!-- Copyright Area Ends -->
</footer>
